<!DOCTYPE HTML>
<html>
<head>
    <title>pypilot rf remote setup</title>
    <link rel="stylesheet" type="text/css" href="static/index.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="static/w3.css" />
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/socket.io.min.js"></script>
    <script type="text/javascript" src="static/rf_config.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      var webapp_port = {{webapp_port}};
    </script>
</head>
<body>
    <div style="position:fixed;bottom:-10">
      <br>RFCode: <b><span id="rfcode"></span></b>
      <br>pypilot: <b><span id="pypilot"></span></b>
      <br>RF Config Web App: <b><span id="connection"></span></b>
      <br>Web Server Latency: <b><span id="ping-pong"></span> ms</b>
    </div>
</body>
</html>
