[Unit]
Description=pypilot
DefaultDependencies=false
Conflicts=pypilot_boatimu.service

[Service]
Type=simple
ExecStart=/usr/local/bin/pypilot
#StandardOutput=syslog
#StandardError=syslog
User=pi
Restart=always
RestartSec=2

[Install]
WantedBy=local-fs.target

