[Unit]
Description=pypilot lcdclient
DefaultDependencies=false

[Service]
Type=simple
ExecStart=/usr/bin/sudo pypilot_lcdclient nokia5110
User=pypilot
Restart=always
RestartSec=3

[Install]
WantedBy=local-fs.target

