[Unit]
Description=pypilot boatimu
DefaultDependencies=false
Conflicts=pypilot.service

[Service]
Type=simple
ExecStart=pypilot_boatimu -q
StandardOutput=syslog
StandardError=syslog
User=pi
Restart=always
RestartSec=2

[Install]
WantedBy=local-fs.target

