[Unit]
Description=pypilot hat
DefaultDependencies=false

[Service]
Type=simple
ExecStart=/usr/bin/sudo pypilot_hat
StandardOutput=syslog
StandardError=syslog
User=pi
Restart=always
RestartSec=3

[Install]
WantedBy=local-fs.target

