<!DOCTYPE HTML>
<html>
<head>
    <title>{{_('pypilot hat configuration')}}</title>
    <link rel="stylesheet" type="text/css" href="static/w3.css" />
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/socket.io.min.js"></script>
    <script type="text/javascript" src="static/hat_config.js"></script>
    <script>
      var web_port = {{web_port}};
      var action_names = {{ action_names }};
    </script>
</head>
<body>
  <div>
    <h2>{{_('lcd and remote control setup')}}</h2>
    <p><button id="clear">{{_('clear')}}</button><button id="default">{{_('default')}}</button>
    <p>{{_('press button(s) on the keypad or remote then assign a command with the button.')}}
      <p> {{_('Actions for LCD interface')}}
        {{ actionkeys[0] }}
      <p><br>{{_('key')}}: <b><span id="key0"></span></b>
         <br>{{_('action')}}: <b><span id="action0"></span></b>
      <p> {{_('These actions do not depend on the state of the display and can be used by wireless remotes.')}}
        {{ actionkeys[1] }}
      <p><br>{{_('key')}}: <b><span id="key1"></span></b>
         <br>{{_('action')}}: <b><span id="action1"></span></b>
      <p><span id="action_profiles"></span>
      <p>
        <h2>{{_('analog inputs')}}</h2>
        {{ adc_channels }}
      <h2>IR ({{_('infared receiver port')}})</h2>
      {{_('The ir port can be handled direcly from the pi or the arduino.  Using the arduino can receive from many different remotes without special calibration recordings.')}}
    <p>
      {{ ir_settings }}
    <p>
      <h2>hat NMEA port</h2>
      {{ nmea_settings }}
      <h2>{{_('remote mode')}}</h2>
      {{_('remote')}}{{ remote_settings }}
      <br>
      <p>
      <br>{{_('nmea current baud rate')}}: <b><span id="baudrate"></span></b>
      <br>{{_('voltages')}}: <b><span id="voltage"></span></b>
      <br>pypilot {{_('status')}}: <b><span id="status"></span></b>
      <br>{{_('connection')}}: <b><span id="connection"></span></b>
      <br>{{_('Web Server Latency')}}: <b><span id="ping-pong"></span> ms</b>
    </div>
</body>
</html>
