<!DOCTYPE HTML>
<html>
<head>
    <title>tinypilot wifi setup</title>
</head>
<body>
  <p>Tinypilot Wireless Configuration
    <form action="{{ url_for('wifi') }}", method="post">
      <select name="mode" value="{{ wifi_mode }}">
        <option value="Master">Master (AP)</option>
        <option value="Managed" {{ mode_managed_selected }}>Managed (client)</option>
      </select>
      <p>SSID
        <input type="text" name="ssid" value="{{ wifi_ssid }}">
      <p>Key (leave blank for no encryption)
        <input type="text" name="key" value="{{ wifi_key }}">
      <p>
        <input type="submit" value="Submit">
      <p>After submit, reboot tinypilot to use new network values
      <p>If there is a problem, edit the file /.pypilot/networking.txt
    </form>
<a href="/">Back</a>
</body>
</html>
