<!DOCTYPE HTML>
<html>
<head>
  <title>tinypilot wifi {{'(setup')}}</title>
    <script type="text/javascript" src="static/jquery.min.js"></script>
</head>
<body>
  <p>Tinypilot {{_('Wireless Configuration')}}
    <form action="{{ url_for('wifi') }}" method="post">
      <select name="mode" onchange="wifi_mode()">
        <option value="Master">Master (AP)</option>
        <option value="Managed" {{ mode_managed_selected }}>Managed (client)</option>
      </select>
      <p>SSID
        <input type="text" name="ssid">
      <p>{{_('Key (leave blank for no encryption)')}}
        <input type="text" name="key">
      <p>{{_('Client Mode Address (leave blank for dhcp)')}}
        <input type="text" name="address">
      <p>
        <input type="submit" value="Submit">

      <p>{{_('If there is a problem, edit the file')}} /.pypilot/networking.txt
    </form>

    {{ leases }}
    <br>
    <a href="/">{{_('back'}}}</a>

  <script>
    wifi = {{ wifi }};
    function wifi_mode() {
      if(document.getElementsByName('mode')[0].value == "Master") {
        ssid = wifi['ssid'];
        key = wifi['key'];
        address = ''
      } else {
        ssid = wifi['client_ssid'];
        key = wifi['client_key'];
        address = wifi['client_address'];
      }

      document.getElementsByName('ssid')[0].value = ssid;
      document.getElementsByName('key')[0].value = key;
      document.getElementsByName('address')[0].value = address;
    }

    document.getElementsByName('mode')[0].value = wifi['mode'];
    wifi_mode();
  </script>
</body>
</html>
